<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Sign Up Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" th:href="@{/css/signup.css}">
    </head>
    <body>
        <div align="center">
            <h1>Create New Account right here !</h1>
<!--            <h3 th:text="${message}" style="color: green" text-center></h3>
            <h4 th:text="${nofitication}" style="color: green" text-center></h4>-->
            <h3 th:text="${messageError}" style="color: red"></h3>
        </div>

        <form class="form-add-user" th:action="@{/student/save}" th:object="${user}" method="POST">
            <div class="left-panel">
                <div>Email:</div>
                <div>Full name:</div>
                <div>Password:</div>
                <div>Confirm password:</div>
            </div>

            <div class="right-panel">
                <div><input type="text" th:field="*{email}" name="email" ></div>
                <div><input type="text" th:field="*{fullName}" name="fullName" ></div>
                <div><input type="password" th:field="*{password}" name="password"/></div>
                <div><input type="password" name="rePassword" /></div>
                <button type="submit">Sign up</button>
            </div>
        </form>
        <p style="font-weight: bold">Already have an account? <a th:href="@{/}">Login</a></p>
    </body>
</html>
