<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Student home page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="css/studenttHome.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <header class="header" id="header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <h2><a exact="true" class="logo" href="shopping">LMS</a></h2>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown" style=" color: #7d99ff; " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ${sessionScope.LOGIN_USERDTO.name}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="logout">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="student-home.html"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>
                <li>
                    <a href="student-account.html"><i class="fas fa-id-card"></i>Account</a>
                </li>
                <li>
                    <a href="student-class.html"><i class="fas fa-list-ul"></i>Class</a>
                </li>

            </ul>
        </nav>
        <!-- Page Content -->
        <div id="content">
            <div class="container-fluid">
                <h3><i class="fas fa-tachometer-alt"></i> News</h3>
                <div class="main-container">
                    <!--  -->
                    <article>
                        <div class="a">
                            <form>
                                <div class="d-flex border p-2 mb-2 forumpost focus-target  " aria-label='Thông báo về thi thử phần mềm EOS Online  by Nguyễn Xuân Hưng (FPTU HCM)' data-post-id="2378" data-content="forum-post">
                                    <div class="d-flex flex-column w-100" data-region-content="forum-post-core">
                                        <header class="mb-2 row d-flex" style=" margin-left: 2%; margin-top: 1%;">
                                            <div class="mr-2" style="width: 45px;">
                                                <img class="rounded-circle w-100" src="https://lms-hcmuni.fpt.edu.vn/pluginfile.php/39/user/icon/adaptable/f1?rev=62" alt="Picture of Nguyễn Xuân Hưng (FPTU HCM)" aria-hidden="true" title="Picture of Nguyễn Xuân Hưng (FPTU HCM)">
                                            </div>
                                            <div class="d-flex flex-column">
                                                <h3 class="h6 font-weight-bold mb-0" data-region-content="forum-post-core-subject" data-reply-subject="Re: Thông báo về thi thử phần mềm EOS Online ">Thông báo về thi thử phần mềm EOS Online </h3>
                                                <div class="mb-3" tabindex="-1">
                                                    by <a href="https://lms-hcmuni.fpt.edu.vn/user/view.php?id=4&course=1">Nguyễn Xuân Hưng (FPTU HCM)</a> - <time datetime="2021-06-10T14:57:13+07:00">Thursday, 10 June 2021, 2:57 PM</time>
                                                </div>
                                            </div>
                                        </header>

                                        <div class="d-flex body-content-container">
                                            <div class="mr-2 author-groups-container" style="width: 45px; flex-shrink: 0">
                                            </div>

                                            <div class="no-overflow w-100 content-alignment-container">
                                                <div id="post-content-2378" class="post-content-container">
                                                    <p dir="ltr" style="text-align:left;"></p>
                                                    <p align="center"><strong>THÔNG BÁO </strong></p>

                                                    <p>-Để chuẩn bị cho các kì thi sắp tới dự tính hình thức thi là online , Phòng IT Đại học FPT – Hồ Chí Minh kiến nghị các bạn sinh viên thi thử phần mềm thi EOS online để kiểm tra và hiệu chỉnh PC-Laptop
                                                        (có camera hoặc webcam) để hoàn thành tốt nhất kì thi (đọc kĩ file hướng dẫn sử dụng). </p>

                                                    <p>-Mọi sự cố liên quan đến phần mềm thi các bạn sinh viên có thể liên lạc đến CLB HNF - IT Support để được hỗ trợ : <a href="https://www.facebook.com/hnffptu" class="_blanktarget">https://www.facebook.com/hnffptu</a>                                                        <br />Hoặc Zalo : <a>0362332257 (Chỉ nhắn tin )</a></p>

                                                    <p><strong>-Kỳ thi thử kỳ Summer đợt 1 :Sáng Thứ 7 - 12/06/2021 từ 8h đến
                        12h  <br /></strong><a href="https://hcmportal.fpt.edu.vn/download/Summer2020_Online/EOS-Client-Online-27082020.rar" target="_blank" rel="noreferrer noopener"><strong>
                        Click here để tải phần mềm EOS online </strong></a></p>

                                                    <p><a href="https://hcmportal.fpt.edu.vn/download/Summer2020_Online/PEA-Client-Online-27082020.rar" target="_blank" rel="noreferrer noopener"><strong>Click here để tải phần mềm PEA online</strong></a></p>

                                                    <h3> <strong>Code thi thử </strong></h3>

                                                    <p><strong>1/Đề luận - SV kiểm tra bộ gõ tiếng Việt có dấu , Tiếng Trung, Tiếng Nhật</strong></p>
                                                    <p>JPD_Essay_Test</p>

                                                    <p>Test_Essay_01_072020</p>

                                                    <p>Test_Essay_03_072020</p>

                                                    <p>Test_Essay_04_072020</p>

                                                    <p>Test_Essay_ENG_01_082020</p>

                                                    <p>Test_Essay_ENG_02_082020</p>

                                                    <p>Test_Essay_ENG_03_082020</p>

                                                    <p><strong>2/Đề nghe - Nhập 123 vào ô OpenCode</strong></p>
                                                    <p>Test_Listening_01_072020</p>

                                                    <p>Test_Listening_03_072020</p>
                                                    <p>Test_Listening_04_072020<br /></p>
                                                    <p><strong>3/Đề trắc nghiệm</strong></p>

                                                    <p>Test1_MC_062020</p>

                                                    <p>Test2_MC_06_2020</p>

                                                    <p>Test3_MC_06_2020</p>

                                                    <p> </p><br />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </article>


                    <article>
                        <div class="a">
                            <form>
                                <div class="d-flex border p-2 mb-2 forumpost focus-target  ">
                                    <div class="d-flex flex-column w-100">
                                        <header class="mb-2 row d-flex" style=" margin-left: 2%; margin-top: 1%;">
                                            <div class="mr-2" style="width: 45px;">
                                                <img class="rounded-circle w-100" src="https://lms-hcmuni.fpt.edu.vn/pluginfile.php/39/user/icon/adaptable/f1?rev=62" alt="Picture of Nguyễn Xuân Hưng (FPTU HCM)" aria-hidden="true" title="Picture of Nguyễn Xuân Hưng (FPTU HCM)">
                                            </div>

                                            <div class="d-flex flex-column">
                                                <h3 class="h6 font-weight-bold mb-0">Đay la title </h3>
                                                <div class="mb-3" tabindex="-1">
                                                    by <a href="https://lms-hcmuni.fpt.edu.vn/user/view.php?id=4&course=1">LInk đến cái mẹ gì đó (FPTU HCM)</a> - <time>Thursday, 10 June 2021, 2:57 PM</time>
                                                </div>
                                            </div>
                                        </header>


                                        <div class="d-flex body-content-container">
                                            <div class="mr-2 author-groups-container" style="width: 45px; flex-shrink: 0">
                                            </div>
                                            <div>
                                                <p> nội dung vào đây </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </article>
                    <!--  -->
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</body>

</html>