<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Verify</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div align="center">

            <h3 th:text="${message}" style="color: green" text-center></h3>
            <h3 th:text="${messageError}" style="color: red" text-center></h3>
            <h4 th:text="${nofitication}" style="color: green" text-center></h4>

            <p>We already sent a verification code to your email.</p>
            <form th:action="@{/student/verify}" method="POST">
                <input type="text" name="AUTHEN_CODE"/>
                <input type="submit" value="verify"/>
            </form>
        </div>

    </body>
</html>
