body {
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


/* ---------------------------------------------------
SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    margin-top: 64px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #fafafa;
    border-right: solid 1px #c5c5c5;
    padding-right: 15px;
    color: #000;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}


/* #sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
} */

#sidebar ul.components {
    padding: 20px 0;
    /* border-bottom: 1px solid #47748b; */
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a i {
    margin-right: 30px;
    font-size: 15px;
}

#sidebar ul li a:hover {
    color: #3e5580;
    background: #fff;
}

#sidebar ul li.active>a {
    color: #fff;
    background: #3e5580;
    font-weight: bold;
    border-radius: 0px 30px 30px 0px;
}

a[data-toggle="collapse"] {
    position: relative;
}


/* ---------------------------------------------------
CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#content h3 {
    color: #3e5580;
    font-weight: bold;
}

.main-container {
    padding: 20px;
    text-align: center;
}


/* ---------------------------------------------------
MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.header {
    background-color: #FFFFFC;
    align-items: center;
    width: 100%;
    transition: all .1s ease-in-out;
    position: fixed;
    top: 0;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, .2);
    z-index: 999;
}

.header.sticky {
    padding: 20px 25px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, .2);
}

.header .logo {
    text-align: center;
    font-size: 32px;
    color: #3e5580 !important;
    text-transform: uppercase;
    margin-right: 35px;
    font-weight: 700;
    font-family: 'Ubuntu'sans-serif;
    display: inline-block;
    margin-left: 50px;
}

.header .logo:hover {
    text-decoration: none;
}

.header .nav {
    display: flex;
}

.header .nav li {
    padding: 0 20px;
}

.nav-link {
    color: black !important;
    transition: all .15s linear;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    user-select: none;
}

.nav-link--active {
    color: #0113ff !important;
}

.nav-link:hover {
    color: #0113ff !important;
}

.header .header-right .menu {
    display: none;
}

.header .header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    margin-right: 50px;
    height: 100%;
}

.header .header-right>div {
    margin: 0 20px;
    display: flex;
}

.header .cart img {
    width: 20px;
}

.header .cart {
    position: relative;
    margin-right: 25px;
}

.header .header-right .cart:hover::after {
    content: '';
    display: block;
    position: absolute;
    width: 120px;
    height: 46px;
    background-color: transparent;
    bottom: -40px;
    left: -80px;
    z-index: 1;
}

.header .header-right .cart:hover .cart-notify {
    display: block;
}

.header .cart span.nb {
    top: -5px;
    right: -10px;
    text-align: center;
    line-height: 15px;
    width: 15px;
    height: 15px;
    background-color: #0113ff;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    position: absolute;
}

.header .header-right .menu {
    cursor: pointer;
}


/* fileset */

html,
body {
    height: 100%;
}

.container {
    width: 90%;
    margin-left: 5%;
    text-align: left;
}

.form-add-product {
    text-align: left;
}

.form-add-product button {
    background-color: #0b1660;
    color: white;
    padding: 9px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btt {
    padding-top: 10px;
    padding-bottom: 10px;
}

input {
    width: 60%
}

form {
    padding: 0 2em;
}

.btn:hover,
.btn:focus {
    background-color: green;
}

a:hover {
    text-decoration: none;
}

.fs {
    width: 100%;
    border: 2px black solid;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #111;
}

.as {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.as li {
    float: left;
}

.as li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.as li a:hover {
    background-color: grey;
}

.as .act {
    background-color: darkblue;
}

fieldset {
    width: 100%;
    border: 2px black solid;
}

legend {
    width: auto;
    text-align: left;
    margin-left: 2%;
}

.collapsible {
    background-color: lightseagreen;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 3px;
}

.con {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

table {
    width: 964px;
    margin: 0 auto;
}

td:nth-child(odd) {
    font-weight: bold;
}

.tblinfo {
    width: 90%;
    text-align: left;
    margin-bottom: 10px;
}

.tblinfo tr {
    border: 1px solid rgb(230, 230, 255);
}

.tblinfo td {
    border: 1px solid rgb(230, 230, 255);
}

.tblinfo tr:nth-child(odd) {
    background-color: #f2f2f3;
    padding-bottom: 3px;
}

.act {
    background-color: lightcyan;
    border-radius: 0px 30px 30px 0px;
}
/*  */